<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="<%= logo %>"
        alt="Logo"
        width="40"
        height="40"
        class="d-inline-block align-text-top"
      />
      <%= name %>
    </a>
  </div>
</nav>
