# MySQL configuration
DB_HOST = ''
DB_USER = ''
DB_PASSWORD = ''
DB_NAME = ''

# WebServer configuration
PORT = ''
DOMAIN = ''

# Slides
SLIDE_1 = ''
SLIDE_2 = ''
SLIDE_3 = ''

# Main configuration
NAME = '' # Name server
LOGO = '' # Path to the logo
CURRENCY = '' # Currency symbol
STEAM_API_KEY = '' # Web API key for Steam
SECRET = '' # Generate a random string (min length is 32 characters)
SERVER_DESCRIPTION = ''

# Server configuration
SERVER_IP = ''
SERVER_PORT = ''

# Social btn on main page
TG_LINK = '' # example: https://t.me/shadowseekcsgo/5
DISCORD_LINK = ''

# Tickets
TG_BOT_TOKEN = '' # Telegram token for bot to send tickets
TG_GROUP_ID = '' # Group to send tickets