<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container bg-slate-200">
    <header id="header"><%- include('../partials/header'); %></header>

    <main>
      <div class="container-xxl text-center" align="center">
        <iframe
          src="https://shadowseekcsgo.github.io/renderbsp/"
          frameborder="0"
          width="100%"
          height="750px"
        ></iframe>
      </div>
    </main>
    <footer id="footer" class="text-center text-muted">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
