<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container bg-slate-200">
    <header id="header"><%- include('../partials/header'); %></header>
    <main>
      <h1 class="text-center">๐ Rules ๐</h1>
      <br />
      <code>1.</code> your rules
    </main>ัััะธััะตะผะพะผ ัะตัะฒะตัะต
    </main>
    <footer id="footer" class="text-center text-muted">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
