@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@300&display=swap");
@import url("shop.css");

header {
  margin-bottom: 50px;
}

header,
footer,
h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
}

footer {
  margin-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.header-icon {
  margin-left: 25px;
  opacity: 1;
}

.navbar-brand {
  font-family: "Work Sans", sans-serif;
}

.header-icon:hover {
  opacity: 0.5;
}

.profile-icon {
  margin-left: 5px;
  opacity: 1;
}

a.nav-link {
  color: gray;
  font-size: 18px;
  padding: 0;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #e84118;
  padding: 2px;
  flex: none;
}

@media (max-width: 993px) {
  header {
    text-align: center;
  }
  .balance {
    text-align: left;
  }
  .header-icon {
    margin-top: 15px;
    opacity: 1;
  }
}

input:focus {
  outline: 0px !important;
  box-shadow: none !important;
}

.card-text {
  border: 2px solid #ddd;
  border-radius: 8px;
}

.card {
  border: none;
  border-radius: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-title {
  font-size: 1.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  font-size: 1rem;
}

.form-control {
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: none;
}

textarea.form-control {
  resize: none;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
