.card {
  border: none;
  border-radius: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1rem;
}

.card-text {
  font-size: 0.9rem;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
}

.btn-group > .btn {
  margin-right: 10px;
}

.small {
  font-size: 0.9rem;
}
