<br /><br />
<div class="container-sm text-center">
  <img
    src="https://discordapp.com/api/guilds/<%= discord_server_id %>/widget.png?style=banner2"
    alt=""
  />
  <br /><br />
  <p>
    <script
      async
      src="https://telegram.org/js/telegram-widget.js?4"
      data-telegram-post="<%= tg_channel %>"
      data-width="100%"
      data-userpic="false"
      data-color="13B4C6"
      data-dark-color="39C4E8"
    ></script>
  </p>
</div>
