<!doctype html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<main>
			<header id="header"><%- include('../partials/header'); %></header>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

			<div class="container">
				<div class="title404"></div>
			</div>

			<script src="/js/title404.js"></script>
		</main>
		<footer id="footer" class="text-center text-muted">
			<%- include('../partials/footer'); %>
		</footer>
	</body>
</html>
