<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/admin.css" />
    <%- include('../partials/head'); %>
  </head>
  <body class="bg-slate-200">
    <header id="header"><%- include('../partials/admin/header'); %></header>
    <main>
      <h3 class="text-center">Основные настройки</h3>
    </main>
  </body>
</html>
