<!doctype html>
<html lang="en">
	<head>
		<%- include('../partials/admin/head'); %>
		<script
			src="https://code.jquery.com/jquery-3.7.0.min.js"
			integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<%- include('../partials/admin/chekUpdateModal'); %>
		<header id="header"><%- include('../partials/admin/header'); %></header>
		<main>test</main>
	</body>
</html>
