<!doctype html>
<html lang="en">
	<head>
		<%- include('../partials/admin/head'); %>
		<script
			src="https://code.jquery.com/jquery-3.7.0.min.js"
			integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<%- include('../partials/admin/chekUpdateModal'); %>
		<header id="header"><%- include('../partials/admin/header'); %></header>
		<main><div id="pagesList"></div></main>
		<script>
			$.getJSON('/data/pages.json', function (data) {
				const pagesListContainer = $('#pagesList');
				const jsonData = JSON.parse(JSON.stringify(data));

				for (let page in jsonData) {
					if (jsonData.hasOwnProperty(page)) {
						pagesListContainer.append(
							`<div class="constructor-page-list-item"><a href="/admin/constructor/${page}">${page}</a></div>`
						);
					}
				}
			}).fail(function () {
				console.log('An error has occurred.');
			});
		</script>
	</body>
</html>
