<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container bg-slate-200">
    <header id="header"><%- include('../partials/header'); %></header>
    <main class="contact-info">
      <p>
        E-mail:
        <a href="mailto:" class="text-decoration-none">shadow.seek@bk.ru</a>
      </p>
      <p>
        Telegram:
        <a href="https://t.me/shadowseekcsgo" class="text-decoration-none"
          >@shadowseekcsgo</a
        >
      </p>
      <p>
        Steam:
        <a
          href="https://steamcommunity.com/groups/ShadowSeek"
          class="text-decoration-none"
          >@ShadowSeek</a
        >
      </p>
      <p>
        VK:
        <a href="https://vk.com/shadowseek" class="text-decoration-none"
          >@shadowseek</a
        >
      </p>
    </main>
    <footer id="footer" class="text-center text-muted">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
