<!doctype html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body class="container bg-slate-200"></body>
	<%- include('../public/js/constructor.ejs'); %>
	<script>
		const body = document.querySelector('body');
		$.getJSON('/data/pages.json', function (data) {
			let str = data['<%- constructorPageName %>'];
			var arr = str.split(',');

			for (var i = 0; i < arr.length; i++) {
				body.innerHTML += componentData[arr[i] - 1].html.toString();
			}
		});
	</script>
	<script src="/js/themeSwitch.js"></script>
</html>
