<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="css/docs.css" />
  </head>
  <body class="container bg-slate-200">
    <style></style>
    <body id="preview">
      <h3 class="code-line" data-line-start="0" data-line-end="1">
        <a id="_____01__2023__0"></a
        ><strong>Договор - оферта (редакция от 01 июля 2023 года).</strong>
      </h3>
      <p class="has-line-data" data-line-start="2" data-line-end="3">
        <strong>1.    ОБЩИЕ ПОЛОЖЕНИЯ</strong>
      </p>
      <p class="has-line-data" data-line-start="4" data-line-end="23">
        1.1    Настоящий публичный договор-оферта (далее Оферта) представляет
        собой официальное предложение Администрации Сайта
        <a href="http://shadowseek.ru">shadowseek.ru</a>, далее именуемой
        «Исполнитель», по оказанию Услуг на игровых серверах Counter-Strike
        Global Offensive проекта ShadowSeek Игрокам признаваемыми «Заказчиками»
        в соответствии с условиями настоящей Оферты.<br />
        1.2    Заказчик (игрок) - физическое лицо, обратившееся с заказом к
        Исполнителю в соответствии с условиями настоящего Договора.<br />
        1.3    Исполнитель (администрация) - владельцы сервера
        <strong>ShadowSeek</strong><br />
        1.4.   Стороны - Исполнитель и Заказчик.<br />
        1.5    Услуги - Привилегии, кредиты либо иные преимущества на игровом
        сервере либо сайте.<br />
        1.6    Сайт - информационный ресурс Исполнителя, размещенный в сети
        Интернет по адресу:
        <a href="https://shadowseek.ru">https://shadowseek.ru</a>.<br />
        1.7    Личный кабинет Заказчика – программный интерфейс на Сайте,
        предназначенный для удаленного взаимодействия Заказчика и Исполнителя в
        рамках Договора, и содержит информацию о Заказчике, принятии им условий
        оказания Услуг, перечень, объем и сроки оказания Услуг, иную необходимую
        информацию, доступную Заказчику после авторизации с использованием
        логина и пароля.<br />
        1.8    Заказ - автоматически формируемый документ, определяющий набор
        Услуг, необходимых Заказчику. Заказ формируется путем заполнения
        необходимых форм в личном кабинете Заказчика на сайте Исполнителя -
        <a href="https://shadowseek.ru">https://shadowseek.ru</a>.<br />
        1.9    VIP - Система для внутриигровых привилегий, которая предоставляет
        преимущества игрокам.<br />
        1.10. SHOP - Внутриигровой магазин сервера.<br />
        1.11    Геймплей - игровой процесс с точки зрения игрока. Геймплей
        включает в себя разные содержательные аспекты компьютерной игры, в том
        числе технические, такие как внутриигровая механика, совокупность
        определённых методов взаимодействия игры с игроком и др.<br />
        1.12    Консоль - это текстовый интерфейс ввода и вывода для выполнения
        команд или изменения основных настроек игры.<br />
        1.13   Техническая поддержка - система где оказывается техническая
        помощь по любым вопросам игрового проекта Legenda-Servers по URL
        <a href="https://shadowseek.ru/tickets">https://shadowseek.ru/tickets</a
        >.<br />
        1.14    VAC - разработка компании Valve для предотвращения использования
        игроками читов (нечестных приемов игры).<br />
        1.15    Правила проекта - свод разрешающих и запрещающих норм для
        игроков на серверах проекта ShadowSeek. Правила расположены по URL
        <a href="https://shadowseek.ru/rules/">https://shadowseek.ru/rules/</a
        >.<br />
        1.16    SteamID - это уникальный номер, который дается Вам при создании
        Steam аккаунта.<br />
        1.17    Steam - онлайн-сервис цифрового распространения компьютерных игр
        и программ, разработанный и поддерживаемый компанией Valve.<br />
        1.18    Принятие условий Договора – действия Заказчика по принятию
        условий настоящего Договора, путем оплаты сформированного выставленного
        Исполнителем Договора-Счета, посредством наличных или безналичных
        денежных средств или электронных средств платежа. Принятие условий
        Договора считается состоявшимся при оплате Заказчиком настоящего
        Договора-Счета посредством оплаты наличными или безналичными денежными
        средствами, либо электронными средствами платежа.<br />
        <strong>2.    ПРЕДМЕТ ОФЕРТЫ</strong>
      </p>
      <p class="has-line-data" data-line-start="24" data-line-end="29">
        2.1    Исполнитель обязуется предоставлять Заказчику услуги, а Заказчик
        обязуется оплатить эти услуги и надлежащим образом выполнять условия,
        установленные настоящей Офертой.<br />
        2.2    Исполнитель оказывает услуги, а Заказчик - оплачивает их:<br />
        Заказчик выбирает услугу/привилегию на странице
        <a href="https://shadowseek.ru/shop">https://shadowseek.ru/shop</a> и
        любых вложенных страницах категории “Магазин”.<br />
        Заказчик у каждой услуги выбирает тариф, срок и тип привязки привилегии
        к своему аккаунту.<br />
        2.3 Исполнитель вправе изменить оферту и договор. Изменения вступают в
        силу через 3 дня с момента публикации на сайте
        <a href="http://shadowseek.ru">shadowseek.ru</a>.
      </p>
      <p class="has-line-data" data-line-start="30" data-line-end="31">
        <strong>3. СТОИМОСТЬ УСЛУГ И ПОРЯДОК РАСЧЕТОВ</strong>
      </p>
      <p class="has-line-data" data-line-start="32" data-line-end="38">
        3.1. Стоимость и перечень услуг, предоставляемых Исполнителем по
        настоящей Оферте, размещены на странице <a
          href="https://shadowseek.ru/shop"
          >https://shadowseek.ru/shop</a
        ><br />
        3.2. Оплата услуг по настоящему Договору осуществляется Заказчиком в
        валюте РФ путем внесения денежных средств на расчетный счет или в кассу
        Исполнителя.<br />
        3.3. Датой надлежащего исполнения обязательств Заказчиком по оплате
        услуг Исполнителя будет считаться с момента получения уведомления о том,
        что услуга успешно выдана.<br />
        3.4. Исполнитель вправе в одностороннем порядке пересматривать и
        изменять стоимость услуг, а также вводить новые услуги. О введении новых
        цен Исполнитель извещает Заказчика, опубликовав сообщение об этом на
        Сайте Исполнителя или в группе ВК -
        <a href="http://vk.com/shadowseek">vk.com/shadowseek</a>.<br />
        3.5. Отчет об оказании услуг по настоящей Оферте Исполнитель формирует с
        помощью сервисов Сайта и делает его доступным в Личном кабинете
        Заказчика.<br />
        3.6  Стоимость товара не включает комиссию банков и платёжных систем.
        Комиссию Заказчик оплачивает сам и за свой счёт. Узнать комиссию можно
        при оплате покупки.
      </p>
      <p class="has-line-data" data-line-start="39" data-line-end="40">
        <strong>4.    ХАРАКТЕРИСТИКИ УСЛУГИ/ТОВАРА</strong>
      </p>
      <p class="has-line-data" data-line-start="41" data-line-end="44">
        4.1    Описание услуги может расходиться с фактическими возможностями
        услуги. Точную информацию можно уточнить у администрации проекта
        Legenda-Servers.<br />
        4.2    Любая услуга может быть скорректирована и изменена для
        балансирования геймплея на игровом сервере.<br />
        4.3    Срок услуги действует независимо от того, посещает Заказчик
        игровой сервер Исполнителя или нет.
      </p>
      <p class="has-line-data" data-line-start="45" data-line-end="46">
        <strong>5.    СРОКИ АКТИВАЦИИ УСЛУГ</strong>
      </p>
      <p class="has-line-data" data-line-start="47" data-line-end="50">
        5.1    VIP и SHOP ключи после оплаты выдаются немедленно. Активация
        производится на сервере, в игровой консоли, в любой момент.<br />
        5.2    Каждый ключ одноразовый, и действует только на том сервере, где
        был приобретен. Если ключ не рабочий, обратитесь в поддержку на сайте за
        обменом, согласно УСЛОВИЯМ И ПОРЯДКУ ПРЕДОСТАВЛЕНИЯ УСЛУГИ.<br />
        5.3    Услуги приобретаемые в магазине через личный кабинет по адресу
        <a href="https://shadowseek.ru/shop">https://shadowseek.ru/shop</a>
        активируются сразу же после оплаты, либо после смены карты.
      </p>
      <p class="has-line-data" data-line-start="51" data-line-end="52">
        <strong
          >6.    УСЛОВИЯ И ПОРЯДОК ПРЕДОСТАВЛЕНИЯ УСЛУГИ. ОБМЕН И ВОЗВРАТ,
          ЖАЛОБЫ</strong
        >
      </p>
      <p class="has-line-data" data-line-start="53" data-line-end="63">
        6.1    Возврат средств возможен только на баланс нашего сайта
        <a href="https://shadowseek.ru">https://shadowseek.ru</a>.<br />
        6.2    Каждый запрос на возврат средств рассматривается в поддержке на
        сайте (<a href="https://shadowseek.ru/tickets"
          >https://shadowseek.ru/tickets</a
        >), и может быть отклонен по инициативе администрации.<br />
        6.3    Если Вы хотите обменять текущую услугу на другую, то это возможно
        осуществить доплатой в течение недели, после покупки основной услуги
        через систему поддержки на сайте.<br />
        6.4    Если Вы остались недовольны услугой, возможен возврат средств на
        баланс сайта, при условии, что срок услуги был не менее 30 дней. В таком
        случае, будет произведен перерасчет с учетом использованных дней.<br />
        6.5    Услуги предоставляемые на срок 24 часа не переносятся на другие
        сервера и не подлежат возврату на баланс сайта.<br />
        6.6    За найденные недочеты в описании товара/услуги игрок может быть
        вознагражден. Необходимо обратиться в поддержку на сайте за
        дополнительной информацией.<br />
        6.7    VIP и SHOP ключи возможно поменять при неработоспособности через
        систему поддержки на сайте.<br />
        6.8    Если игровой аккаунт был заблокирован системой VAC либо нашей
        внутриигровой системой банов, то возврат средств за услугу, а так же её
        перенос не предусмотрен.<br />
        6.9    Смена SteamID на услуге так же невозможна, допустимы исключения
        со стороны администрации Legenda-Servers.<br />
        6.10    В случае злостных нарушений правил проекта, все услуги могут
        быть аннулированы.\
      </p>
      <p class="has-line-data" data-line-start="64" data-line-end="65">
        <strong>7.    ОТВЕТСТВЕННОСТЬ СТОРОН</strong>
      </p>
      <p class="has-line-data" data-line-start="66" data-line-end="72">
        8.1    Исполнитель обязан оказывать услуги качественно, своевременно и в
        полном соответствии с условиями Договора.<br />
        8.1    Исполнитель не гарантирует доступность игрового сервера в случае
        DDOS атак.<br />
        8.2    Исполнитель не гарантирует абсолютную бесперебойность или
        безошибочность в оказании услуг.<br />
        8.3    Исполнитель предпринимает все разумные усилия и меры в целях
        минимизации потерь от таких ошибок.<br />
        8.4    Исполнитель не несет ответственности за непредставление услуг во
        время проведения необходимых плановых профилактических и ремонтных работ
        на сервере.<br />
        8.5    Заказчик несет ответственность за сохранность своего логина и
        пароля, а также за убытки, которые могут возникнуть по причине
        несанкционированного его использования. При обнаружении факта
        несанкционированного использования логина и пароля третьими лицами
        Заказчик обязан сменить логин и пароль.
      </p>
      <p class="has-line-data" data-line-start="73" data-line-end="74">
        <strong>8.    ОБСТОЯТЕЛЬСТВА НЕОПРЕДЕЛИМОЙ СИЛЫ</strong>
      </p>
      <p class="has-line-data" data-line-start="75" data-line-end="77">
        9.1    Стороны освобождаются от ответственности в случае, когда
        невозможность исполнения возникла по обстоятельствам, за которые ни одна
        из Сторон не отвечает (форс-мажор).<br />
        9.2    Сторона, которая не может исполнить своего обязательства, должна
        известить другую Сторону о препятствии и его влиянии на исполнение
        обязательств по Договору в течение 10 (десяти) календарных дней с
        момента возникновения этих обстоятельств. Дальнейшая судьба Договора в
        таких случаях должна быть определена соглашением Сторон.
      </p>
      <p class="has-line-data" data-line-start="78" data-line-end="79">
        <strong>10. Срок действия и порядок расторжения</strong>
      </p>
      <p class="has-line-data" data-line-start="80" data-line-end="83">
        10.1. Договор действует с момента акцепта — пополнения баланса и оплаты
        привилегии из раздела “Магазин” сайта
        <a href="https://shadowseek.ru/shop">https://shadowseek.ru/shop</a>.
        Если Заказчик приобрел услугу на проекте ShadowSeek, договор действует
        до последнего дня оплаченной услуги, без автоматической пролонгации.<br />
        10.2 Оферта может быть расторгнута по инициативе любой из Сторон в любое
        время.<br />
        10.3 Электронные письма, и тикеты отправленные с адресов Заказчиков,
        указанных в личном кабинете, признаются подписанными простой электронной
        подписью - аналогом собственноручной подписи.
      </p>
      <p class="has-line-data" data-line-start="84" data-line-end="85">
        <strong>11.    РЕКВИЗИТЫ ИСПОЛНИТЕЛЯ</strong>
      </p>
      <p class="has-line-data" data-line-start="86" data-line-end="89">
        Адрес почты:
        <a href="mailto:shadow.seek@bk.ru">shadow.seek@bk.ru</a><br />
        ВК группа: <a href="http://vk.com/shadowseek">vk.com/shadowseek</a
        ><br />
        Телеграм канал:
        <a href="http://t.me/shadowseekcsgo">t.me/shadowseekcsgo</a>
      </p>
    </body>
  </body>
</html>
