<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container bg-slate-200">
    <header id="header"><%- include('../partials/header'); %></header>
    <main>
      <h1 class="text-center">📄 Rules 📄</h1>
      <br />
      <br /><br />
      <h4>1. General provisions:</h4>
      <br /><code>1.1</code> By logging into the server, you agree to the data
      the rules and undertake to comply with them.<br /><code>1.2</code> For
      execution the rules are monitored by administrators (admins) - people with
      special rights and privileges on the server, however, having at the same
      time quite certain duties and subject to the same special rules.<br /><code
        >1.3</code
      >
      These rules must be followed by any player who has logged on to the server
      (including administrators, managers, curators of servers and
      administrators of the game portal)<br /><code>1.4</code> Ignorance of the
      Rules is not only not liberating You are not responsible for their
      violation, but in itself is violation and aggravating circumstance.<br /><code
        >1.5</code
      >
      Any violation of these rules by the administrator is the basis for
      deprivation of his rights.<br /><br />
      <h4>2. Players are prohibited from:</h4>
      <br /><code>2.1</code> It is forbidden to use any kind of cheats,
      including including for the purpose of testing the cheat itself or the
      anti-cheat program, as well as the same use of various scripts in the
      config, giving clear advantages over other players.<br />Punishment: ban
      forever<br /><code>2.2</code> It is forbidden to insult players, including
      obscene language, abuse obscene expressions in the chat and when using the
      microphone (insults players are prohibited in any form, the expression of
      emotions through obscene expressions are permissible within reasonable
      limits set by the present admin). Publication of deliberately false
      information, any material that is knowingly false and/or defamatory,
      inaccurate, bearing hate, sexually oriented or being a violation of any
      the law of the Russian Federation.<br />Punishment: kick -> ban up to 3
      days<br /><code>2.3</code> It is forbidden to insult the parents and
      relatives of a player by another player in any form (voice, chat,
      nickname)<br />Punishment: ban forever<br /><code>2.4</code> Any
      advertising is prohibited (in chat, voice messages, in the name
      players)<br />Punishment: according to the decision of the administrator,
      depending on violations (from the requirement to stop advertising to ban
      forever.<br /><code>2.5</code> Multiple repetition of the same phrase
      (flood) is prohibited, as well as when using a microphone, clutter the air
      with music or other extraneous sounds.<br />Punishment: kick -> ban up to
      1 day<br /><code>2.6</code> It is forbidden to discuss the actions of the
      admin during the gameplay.<br />Punishment: kick -> ban for up to 3
      days<br /><code>2.7</code> It is forbidden to hinder and hinder the
      players of your team (pushing, blinding, etc.)<br />Punishment: kick ->
      ban for up to 1 day<br /><code>2.8</code> Deviation from the task is
      prohibited, including malicious camping, a situation when a player hid in
      the teleport and waits for the enemy to run past, as well as performing
      actions that are not related to the goals of the game (for example, a
      simple respawn).<br />Punishment: kick -> ban for a day<br /><code
        >2.9</code
      >
      It is forbidden to use map bugs, including for viewing the game map spaces
      on top of textures.<br />Punishment: kick<br /><code>2.10</code> It is
      forbidden to bypass the bans by any means (instead, you must submit appeal
      on the website).<br /><br /><b
        >LOGGING ON TO THE SERVER BEFORE the UNBAN entails a refusal to consider
        the appeal!</b
      ><br />Punishment: ban forever - without the opportunity to appeal!<br /><code
        >2.11</code
      >
      Any monitoring is prohibited - explicit (in chat or microphone) or
      implicit (third-party voice chats) message the player of their team
      location and actions of the enemy players.<br />Punishment: kick -> ban up
      to 1 day<br /><br />
      <h4>3. Players are allowed to:</h4>
      <br />3.1 It is allowed to make plantings (except for places that allow
      you to use map bug)<br />3.2 It is allowed to throw grenades through
      textures over buildings and walls<br />3.3 It is allowed to write to any
      players in the chat and communicate through a microphone within the limits
      established by these rules<br />3.4 It is allowed to leave a complaint
      against any administrator or player suspected of using cheats, as well as
      appeal your ban on the site, leaving a request according to the
      established forms.<br /><br />
      <h4>4. Rules for server administrators:</h4>
      <br /><code>4.1</code> Is appointed after consideration by the Coordinator
      the server of the submitted application<br /><code>4.2</code> is obliged
      to maintain order on the server and strict compliance with the rules by
      all players<br /><code>4.3</code> If you have a microphone, you must use
      it<br /><code>4.4</code> Has the right to punish the player in the cases
      described in the rules of the game server, where he is the
      administrator<br /><code>4.5</code> Does not have the right insult and
      humiliate players<br /><code>4.6</code> I don't have to explain the
      reasons for punishing the players, while not obliged to prove anything
      (all discussions should be made on the forum or in personal
      correspondence). Must to record a gross violation of the player in the
      form of a screenshot / demo video and, upon appeal, provide it in the
      appropriate topic on the forum<br /><code>4.7</code> Not obliged to listen
      to explanations or any evidence on the server<br /><code>4.8</code> Does
      not have the right to use tools server administration for personal or
      entertainment purposes<br /><code>4.9</code> The administrator does not
      have the right to change the card without a preliminary vote and has no
      right to change the card to another after the completed voting players<br /><code
        >4.10</code
      >
      Apply their administrative powers can be under any other nickname to
      detect violations<br /><code>4.11</code> If a situation occurs that is not
      described in the rules, the Administrator has the right to make a decision
      that he considers correct and ethical<br /><code>4.12</code> Does not have
      the right to transfer his administrative powers to another to the
      person<br /><code>4.13</code> The Administrator is obliged to be objective
      in resolving disputes between players, assessing the situation and
      applying their authority<br /><code>4.14</code> Is obliged to attend the
      forum for timely responding to subjects on his bans appeals<br /><code
        >4.15</code
      >
      In in case of abuse of his position, the Administrator receives warning,
      or excluded from the ranks of Administrators, can also get banned for a
      period of 7 days before permanent.<br /><code>4.16</code> In in case of
      violation of these rules, incrimination in the use of cheats, systematic
      violations of the rules of servers in the game and inappropriate behavior
      on game servers and the forum is excluded from the ranks of the
      administration with the subsequent receipt of permanent blocking on the
      portal<br /><code>4.17</code> Must provide evidence of a violation of the
      rules by the player when submitting appeals within 24 hours<br /><code
        >4.18</code
      >
      Must regularly maintain your online on an administrated server<br />
    </main>
    <footer id="footer" class="text-center text-muted">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
