@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

.file-manager {
	background: #282c34;
	margin: 10px;
	border-radius: 10px;
}
.editor-title {
	color: wheat;
	margin: 5px;
	font-family: 'Josefin Sans', sans-serif;
}
.editor-save-btn {
	margin: 10px;
	font-family: 'Josefin Sans', sans-serif;
}
.file-manager-name {
	color: white;
	text-decoration: none;
	font-family: 'Space Grotesk', sans-serif;
}
#editor-alert {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	height: 500px;
	width: 80%;
}
a {
	text-decoration: none;
}
.navbar .navbar-nav .nav-link {
	color: #ffffff;
}
.sm-icons {
	flex-direction: row;
}
.sm-icons .nav-link {
	padding-right: 1em;
}
main {
	padding: 20px;
}
.nav-item {
	margin-left: 10px;
}
.pay-card {
	margin-left: 10px;
	width: 18rem;
}
.header-icon {
	padding-left: 10px;
	opacity: 1;
	color: gray;
}
.side-navbar {
	padding-top: 30px;
	height: 100%;
	position: fixed;
	margin-left: -300px;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
	background-color: #ffffff26;
	text-decoration: none;
}

.my-container {
	transition: 0.4s;
}

.active-nav {
	margin-left: 0;
}

/* for main section */
.active-cont {
	margin-left: 250px;
}

#menu-btn {
	background-color: #100901;
	color: #fff;
	margin-left: -62px;
}

.my-container input {
	max-width: 20rem;
}
.input-inline div {
	margin-left: 2em;
}
.input-inline:last-child {
	margin-left: 0;
}
#code-editor {
	padding: 1.5em;
	font-family: 'JetBrains Mono', monospace;
	font-size: 1em;
}

.builder-menu {
	padding: 12px;
	margin: 0px auto;
	z-index: 999;
}

.menu-section {
	text-align: right;
}

.menu-title {
	margin-top: 2px;
	color: white;
}

.sidebar {
	overflow-x: hidden;
	overflow-y: auto;
	display: inline-flex;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-header {
	margin: 16px;
}

.sidebar-card {
	cursor: pointer;
	background-color: #ffffff;
	padding: 8px;

	border-radius: 8px;

	box-shadow:
		0 1px 4px rgba(0, 0, 0, 0.16),
		0 1px 4px rgba(0, 0, 0, 0.14);

	margin: 8px;

	vertical-align: top;
}

.sidebar-card:hover {
	box-shadow:
		0 0px 4px rgba(0, 0, 0, 0.16),
		0 4px 6px rgba(0, 0, 0, 0.25);

	transition: all 200 ease-in-out;
}

.sidebar-card-title {
	vertical-align: middle;
}

.preview-container {
	padding-top: 55px;
	padding-left: 234px;
}

.preview-header {
	margin-top: 32px;
	margin-bottom: 16px;
	text-align: center;
}

.preview {
	margin: 0px auto;
	border-bottom: 1px dashed blue;
}

.preview-instructons {
	margin: 16px;
	text-align: center;
}

.preview-end {
	height: 240px;
}

.builder-element {
	margin: 0px auto;
}

.builder-spacer {
	height: 32px;
}

.jumbotron {
	padding-left: 6rem;
}

.material-icons {
	vertical-align: middle;
	margin-right: 4px;
}

.sidebar .material-icons {
	color: #007bff;
}

.preview .btn {
	border-radius: 100px;
	padding-left: 24px;
	padding-right: 24px;
}

.card-container {
	text-align: center;
	display: inline-flex;
}

.card {
	display: inline-flex;
	margin-left: 12px;
	margin-right: 12px;
}

.menu-section .btn {
	margin-left: 6px;
	margin-right: 6px;
}

.form-check-input {
	margin-left: 0px;
}

.form-check-label {
	margin-left: 24px;
}
