<% if(steamid === null){ %>
<h1>Please login to view this page</h1>
<% } else{ %>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h4 class="mb-0">Balance replenishment</h4>
				</div>
				<div class="card-body">
					<form>
						<div class="form-group">
							<label for="cardNumber">Amount</label>
							<input
								type="text"
								class="form-control"
								id="cardNumber"
								placeholder="Enter the amount of replenishment"
							/>
						</div>
						<button type="submit" class="btn btn-primary">
							Replenish
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<% } %>
