<footer class="text-center text-lg-start text-muted" idElem="2">
	<section
		class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
	>
		<!-- <div>
			<a href="/links/discord" class="me-4">
				<i
					class="fa-brands fa-discord fa-lg hover-bounce-animation"
				></i>
			</a>
			<a href="/links/vk" class="me-4">
				<i class="fa-brands fa-vk fa-xl hover-bounce-animation"></i>
			</a>
			<a href="/links/tg" class="me-4">
				<i
					class="fa-brands fa-telegram fa-xl hover-bounce-animation"
				></i>
			</a>
			<a href="/links/youtube" class="me-4">
				<i
					class="fa-brands fa-youtube fa-xl hover-bounce-animation"
				></i>
			</a>
			<a href="/links/github" class="me-4">
				<i class="fa-brands fa-github fa-xl hover-bounce-animation"></i>
			</a>
		</div> -->
	</section>

	<section class="">
		<div class="container text-center text-md-start mt-5">
			<div class="row mt-3">
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<h6 class="text-uppercase fw-bold mb-4"><%= cfg.Name %></h6>
					<p><%= cfg.ServerDescription %></p>
				</div>

				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<p>
						<a href="/shop" class="text-reset">Shop</a>
					</p>
					<p>
						<a href="/tickets" class="text-reset">Tickets</a>
					</p>
				</div>
			</div>
		</div>
	</section>

	<div class="text-center">
		<h6>
			© Copyright 2023 <%= cfg.Name %><br />
			Powered by
			<a
				style="text-decoration: none"
				href="https://github.com/zachey01/MimiCMS"
			>
				MimiCMS</a
			>
		</h6>
	</div>
</footer>
