<br />
<div class="container-sm">
  <%- include('../partials/banners'); %>
  <br />
  <a href="/contacts" class="text-decoration-none font-monospace">Контакты</a>
  <br />
  <a href="/privacy" class="text-decoration-none font-monospace"
    >Политика конфиденциальности</a
  >
  <br />
  <a href="/oferts" class="text-decoration-none font-monospace"
    >Договор оферты</a
  >
  <br />
  © Copyright 2023 ShadowSeek<br />
  Powered by
  <a style="text-decoration: none" href="https://github.com/zachey01"
    >MimiCMS</a
  >
</div>
