<div
	class="container-fluid d-flex justify-content-center"
	style="padding-bottom: 50px"
	idElem="5"
>
	<div
		id="carouselExampleIndicators"
		class="carousel slide rounded"
		data-bs-ride="true"
		style="height: 320px; width: 1020px"
	>
		<div class="carousel-indicators">
			<button
				type="button"
				data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="0"
				class="active"
				aria-current="true"
				aria-label="Slide 1"
			></button>
			<button
				type="button"
				data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="1"
				aria-label="Slide 2"
			></button>
			<button
				type="button"
				data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="2"
				aria-label="Slide 3"
			></button>
		</div>
		<div class="carousel-inner">
			<a href="/shop">
				<div class="carousel-item active rounded">
					<img
						src="<%= slide_1 %>"
						class="d-block w-100"
						alt="..."
					/></div
			></a>
			<a href="/tickets">
				<div class="carousel-item rounded">
					<img
						src="<%= slide_2 %>"
						class="d-block w-100"
						alt="..."
					/></div
			></a>
			<a href="/mapViewer">
				<div class="carousel-item rounded">
					<img
						src="<%= slide_3 %>"
						class="d-block w-100"
						alt="..."
					/></div
			></a>
		</div>
		<button
			class="carousel-control-prev"
			type="button"
			data-bs-target="#carouselExampleIndicators"
			data-bs-slide="prev"
		>
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Back</span>
		</button>
		<button
			class="carousel-control-next"
			type="button"
			data-bs-target="#carouselExampleIndicators"
			data-bs-slide="next"
		>
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
