<center idElem="4">
	<div class="container text-center" style="max-width: 30%">
		<div class="card">
			<img
				src="<%= avatar %>"
				class="card-img-top"
				alt="Profile Picture"
			/>
			<div class="card-body">
				<h5 class="card-title"><%= userName %></h5>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					Steam: <a href="<%= steamLink %>">@<%= userName %></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-8">
		<!-- <div class="card-body">
          <h5 class="card-title">Обо мне</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget
            sapien at sem lacinia dapibus. Ut nec elit auctor, feugiat nisl sit
            amet, tempus quam. Morbi eget tellus euismod, pharetra sapien vel,
            mattis sapien. Donec eget turpis vel velit fringilla commodo. Sed
            vitae nulla sed nulla rutrum eleifend vitae vitae dolor. Vestibulum
            facilisis odio sit amet quam maximus tincidunt. Cras et quam vel
            sapien pulvinar suscipit.
          </p>
        </div> -->
	</div>
</center>
