<!doctype html>
<html lang="en">
	<head>
		<%- include('../partials/admin/head'); %>
	</head>
	<body>
		<%- include('../partials/admin/chekUpdateModal'); %>
		<header id="header"><%- include('../partials/admin/header'); %></header>
		<main class="p-1 my-container active-cont">
			<div class="container-sm">
				<%- include('../partials/admin/mainCfg'); %>
			</div>
		</main>
	</body>
</html>
