<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img
          src="https://via.placeholder.com/300x200"
          class="card-img-top"
          alt="Product Image"
        />
        <div class="card-body">
          <h5 class="card-title">Название</h5>
          <p class="card-text">Описание</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Подробнее
              </button>
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Купить
              </button>
            </div>
            <small class="text-muted">100 <%= currency %></small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img
          src="https://via.placeholder.com/300x200"
          class="card-img-top"
          alt="Product Image"
        />
        <div class="card-body">
          <h5 class="card-title">Название</h5>
          <p class="card-text">Описание</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Подробнее
              </button>
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Купить
              </button>
            </div>
            <small class="text-muted">100 <%= currency %></small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img
          src="https://via.placeholder.com/300x200"
          class="card-img-top"
          alt="Product Image"
        />
        <div class="card-body">
          <h5 class="card-title">Название</h5>
          <p class="card-text">Описание</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Подробнее
              </button>
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Купить
              </button>
            </div>
            <small class="text-muted">100 <%= currency %></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
