<div>
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown nav-link">
      <img
        class="header-icon"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        src="img/icon/shop.svg"
        alt=""
      />

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="/shop">Все</a></li>
        <li><a class="dropdown-item" href="/shopModels">Модельки</a></li>
        <li>
          <a class="dropdown-item" href="/shopPrivilege">Привилегии</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tickets" title="Тикеты">
        <img
          class="header-icon"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          src="img/icon/question.svg"
          alt=""
      /></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/rules" title="Правила">
        <img
          class="header-icon"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          src="img/icon/rules.svg"
          alt=""
      /></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/mapViewer" title="Предпросмотрт карт">
        <img
          class="header-icon"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          src="img/icon/image.svg"
          alt=""
      /></a>
    </li>
  </ul>
</div>
